@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic&subset=latin,latin-ext);
header {
  background-color: #000;
  height: 60px; }
  header div {
    position: relative;
    padding-top: 10px;
    justify-content: center; }

.title {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px; }

.hide_rules {
  position: absolute;
  bottom: -26px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 18px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  border: 1px solid #fff;
  border-top: none; }
  .hide_rules:hover {
    background-color: rgba(255, 255, 255, 0.5); }
  .hide_rules .arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 50px 0 50px;
    border-color: #000000 transparent transparent transparent;
    top: -10px;
    margin: 0 auto; }

footer {
  background-color: #000;
  color: #aaa;
  padding-top: 7px; }
  footer section {
    justify-content: center; }
  footer span {
    padding: 5px; }
  footer img {
    background-color: #aaa;
    border-radius: 50%;
    border: 1px solid #aaa; }

main {
  width: 50%; }
  main .main_dice {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 2rem 2rem;
    height: 55vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
  main .main_button {
    display: flex;
    justify-content: center; }
    main .main_button button {
      padding: 10px 30px;
      background-color: rgba(255, 255, 255, 0.8);
      color: #000;
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: uppercase;
      border: none; }

.showDice1 {
  height: 70px;
  width: 70px;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  background-image: url("../../images/1.png"); }

.showDice2 {
  height: 70px;
  width: 70px;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  background-image: url("../../images/2.png"); }

.showDice3 {
  height: 70px;
  width: 70px;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  background-image: url("../../images/3.png"); }

.showDice4 {
  height: 70px;
  width: 70px;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  background-image: url("../../images/4.png"); }

.showDice5 {
  height: 70px;
  width: 70px;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  background-image: url("../../images/5.png"); }

.showDice6 {
  height: 70px;
  width: 70px;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  background-image: url("../../images/6.png"); }

aside {
  width: 50%; }
  aside table {
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 1.2em;
    color: #fff;
    margin: 2rem 2rem;
    /*tr:hover {
            background-color: rgba(0,0,0, .4);
        }*/ }
    aside table tbody {
      border-collapse: collapse; }
  aside td {
    width: 8em;
    text-align: center;
    padding: .3em;
    font-weight: bold; }

body {
  margin: 0;
  font-family: 'Open sans', Verdena, sans-serif;
  background-image: url("../images/bg_main.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.main_width {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  width: 100vw;
  margin: 0 auto; }

@media (min-width: 800px) {
  .main_width {
    width: 800px; } }

* {
  box-sizing: border-box; }

.main_container {
  display: flex;
  width: 100vw; }

.shadow {
  background-color: rgba(255, 255, 255, 0.2); }

.without {
  color: red; }

#bonus_element {
  color: black; }

/*# sourceMappingURL=style.css.map */
