// Modules
@import 'modules/all';

// Partials
//@import 'partials/reset';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/main';
@import 'partials/aside';


// Base style
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic&subset=latin,latin-ext);

body {
    margin: 0;
    font-family: 'Open sans', Verdena, sans-serif;
}

.main_width {
    @include flexbox;
    width: 100vw;;
    margin: 0 auto;
    //border: 1px solid red;
}

@media(min-width: 800px) {
    .main_width {
        width: 800px;
    }
}

* {
    box-sizing: border-box;
}

.main_container {
    @include background;
    display: flex;
    //height: 80vh;
    width: 100vw;
    border: 1px solid #000;
}

.shadow {
    background-color: rgba(255,255,255, .2);
}

.without {
    color: red;
    
}

#bonus_element {
    color: black;
}