footer {
    background-color: #000;
    height: 40px;
    color: #aaa;
    padding-top: 7px;
    
    section {
        justify-content: center;
    }
    
    span {
        padding: 5px;
    }

    img {
        background-color: #aaa;
        border-radius: 50%;
        border: 1px solid #aaa;
    }
}