main {
    width: 50%;
    
    .main_dice {
        display: flex;
        //border: 2px solid red;
        //border-radius: 10px 10px 10px 10px;
        background-color: rgba(255,255,255, .2);
        margin: 2.5rem 2rem;
        height: 55vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
    }
    
    .main_button {
        display: flex;
        justify-content: center;
        
        button {
            padding: 10px 30px;
            background-color: rgba(255,255,255, .8);
            color: #000;
            //border: 2px solid red;
            //border-radius: 5px 5px 5px 5px;
            font-size: 1.3rem;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
        }
    }
}

.showDice1 {
    @include dice;
    background-image: url('../../images/1.png');
}
.showDice2 {
    @include dice;
    background-image: url('../../images/2.png');
}
.showDice3 {
    @include dice;
    background-image: url('../../images/3.png');
}
.showDice4 {
    @include dice;
    background-image: url('../../images/4.png');
}
.showDice5 {
    @include dice;
    background-image: url('../../images/5.png');
}
.showDice6 {
    @include dice;
    background-image: url('../../images/6.png');
}

