.main {
    width: 65vw;
    background-color: rgba(218,165,32, 0.1);
    margin: 2em;
    border-radius: 5% 5% 5% 5%;
    display: block;
}

.main_dice {
    display: flex;
    height: 50vh;
}

.main_button {
    display: flex;
    height: 20vh;
}